.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.description {
  font-size: 0.8rem;
  line-height: 1.6;
  color: #444;
}